@page "/leaverequests/"
@using HR.LeaveManagement.BlazorUI.Components.Table;


<h1>Leave Request Log</h1>

<div class="m-2 d-flex justify-content-end">
	<a href="/leaverequests/create" class="btn btn-success">Add Leave Request</a>
</div>

<div class="row">
	<div class="col-md-3">
		<div class="card text-white bg-info" style="width:18rem;">
			<div class="card-body">
				<h5 class="card-title">Total Requests</h5>
				<p class="card-text">@Model.TotalRequests</p>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card text-white bg-warning" style="width:18rem;">
			<div class="card-body">
				<h5 class="card-title">Pending Requests</h5>
				<p class="card-text">@Model.PendingRequests</p>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card text-white bg-warning" style="width:18rem;">
			<div class="card-body">
				<h5 class="card-title">Approved Requests</h5>
				<p class="card-text">@Model.ApprovedRequests</p>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card text-white bg-warning" style="width:18rem;">
			<div class="card-body">
				<h5 class="card-title">Rejected Requests</h5>
				<p class="card-text">@Model.RejectedRequests</p>
			</div>
		</div>
	</div>
</div>

<br/>
<br />
<hr />
<h1>Leave Request Log</h1>
<hr/>
<TableComponent Items="Model.LeaveRequests" Context="item">
	<TableHeader>
		<tr>
			<th>Employee Name</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Leave Type</th>
			<th>Date Requested</th>
			<th>Approval Status</th>
			<th></th>
		</tr>
	</TableHeader>
	<RowTemplate>
		<tr>
			<td>@item.Employee.Firstname @item.Employee.Lastname</td>
			<td>@item.StartDate.ToString("yyyy-MM-dd")</td>
			<td>@item.EndDate.ToString("yyyy-MM-dd")</td>
			<td>@item.LeaveType.Name</td>
			<td>@item.DateRequested.ToString("yyyy-MM-dd")</td>
			<td>@(Enum.GetName(item.Status))</td>
			<td>
				@if (!(item.Status == LeaveRequestStatus.Cancelled))
				{
					<button class="btn btn-outline-primary" @onclick="@(()=> GoToDetails(item.Id))"><i class="fa fa-file"></i>Review</button>
				}
			</td>
		</tr>
	</RowTemplate>
</TableComponent>