@page "/leavetypes/"
@using HR.LeaveManagement.BlazorUI.Components.Table;

<div class="top-row ps-3 navbar navbar-dark">
	<span class="navbar-brand mb-0 h1">Leave Types</span>
</div>


<article class="content px-4">
	<div class="m-2 d-flex justify-content-end">
		<button @onclick="@(() => CreateLeaveType())" class="btn btn-success">Add Leave Type</button>
	</div>

	@if (string.IsNullOrEmpty(Message) == false)
	{
		<div class="alert alert-danger">
			@Message
		</div>
	}


	<TableComponent Items="LeaveTypes" Context="leaveType">
		<TableHeader>
			<tr>
				<th>
					Id
				</th>
				<th>
					Name
				</th>
				<th>
					Default Days
				</th>
				<th></th>
			</tr>
		</TableHeader>
		<RowTemplate>
			<tr>
				<th>@leaveType.Id</th>
				<th>@leaveType.Name</th>
				<th>@leaveType.DefaultDays</th>
				<th>
					<button @onclick="@(()=> AllocateLeaveType(leaveType.Id,leaveType.Name))" class="btn btn-dark">Allocate Leave</button>
					<button @onclick="@(()=> EditLeaveType(leaveType.Id))" class="btn btn-warning">Edit</button>
					<button @onclick="@(()=> DeleteLeaveType(leaveType.Id,leaveType.Name))" class="btn btn-danger">Delete</button>
				</th>
			</tr>
		</RowTemplate>
	</TableComponent>
</article>

